{% load staticfiles %}
<div class="info">
    <a href="mailto:megapolis-quiz@yandex.ru"> e-mail: megapolis-quiz@yandex.ru</a>
    <a href="tel:+79663489388">тел.: +7 (966) 348-93-88</a>
</div>
<div class="links">
    <a href="https://vk.com/megapolis_quiz"><img src="{% static 'img/Vk.png' %}" alt="vk"></a>
    <a href="https://www.instagram.com/megapolis_quiz/"><img src="{% static 'img/Inst.png' %}" alt="inst"></a>
    <a href="https://www.instagram.com/megapolis_quiz/">@megapolis_quiz</a>
</div>